html{
    background-color: white;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

h3 {
    color: #555;
}



.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid #0000004d;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.button-small {
    font-size: 16px;
    padding: 5px 10px;
}

/* 호버 효과 - 마우스 오버시 배경 색상 변경 */
.button:hover {
    background-color: #0056b3;
}

/* 선택 효과 - 클릭 시 약간의 내려가는 효과 */
.button:active {
    position: relative;
    top: 2px;
}

/* 글자가 긴 경우를 위한 버튼 크기 자동 조정 */
.button-auto {
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 빨간색 버튼 */
.button-red {
    background-color: #FF0000;
    transition: background-color 0.3s ease;
}

.button-red:hover {
    background-color: #FF3333; /* 호버 효과: 빨간색을 조금 밝게 */
}

/* 파란색 버튼 */
.button-blue {
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}

.button-blue:hover {
    background-color: #0056b3; /* 호버 효과: 파란색을 어둡게 */
}

/* 회색 버튼 */
.button-gray {
    background-color: #808080;
    transition: background-color 0.3s ease;
}

.button-gray:hover {
    background-color: #666666; /* 호버 효과: 회색을 어둡게 */
}

/* 노란색 버튼 */
.button-yellow {
    background-color: #FFFF00;
    transition: background-color 0.3s ease;
}

.button-yellow:hover {
    background-color: #FFD700; /* 호버 효과: 노란색을 밝게 */
}

/* 초록색 버튼 */
.button-green {
    background-color: #008000;
    transition: background-color 0.3s ease;
}

.button-green:hover {
    background-color: #006400; /* 호버 효과: 초록색을 어둡게 */
}

.mx-5 {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}


.message {
    font-weight: bold;
    border-radius: 5px;

}
.message-red{
    background-color: red;
    color: white;
    padding: 5px;
}
.message-green{
    background-color: green;
    color: white;
    padding: 5px;
}

.styled-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s; /* 하이라이트 효과를 위한 트랜지션 */

    /* 입력 중일 때 하이라이트 스타일 */
    &:focus {
        border-color: #007bff; /* 포커스 시 border 색상 변경 */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 포커스 시 그림자 효과 */
    }
}

.container {
    display: flex;
    justify-content: center; /* 요소를 가로 중앙으로 정렬하려면 사용 */
    align-items: center; /* 요소를 세로 중앙으로 정렬하려면 사용 */
}

.vertical {
    display: flex;
    flex-direction: column; /* 수직으로 배치하기 위한 속성 */
}

.horizontal {
    display: flex;
    flex-direction: row; /* 수평으로 배치하기 위한 속성 */
}

.navbar {
    padding: 5px;
    margin-bottom: 3px;
    background-color: blue; 
    color: white;
    border-radius: 5px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.nav-item {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-item:hover {
    color: white;
    text-decoration: none;
}

.nav-item:hover .navbar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* 검색 결과에 대한 하이라이트 스타일 */
.highlight {
    background-color: yellow;
    font-weight: bold;
}


.anchor-highlight {
    font-weight: bold;
    color: blue;
}

.button-disable{
    filter: brightness(0.7);
}


.container-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
