{% extends "layout.html" %}

{% block content %}

<style>

h2 {
    color: #333;
    margin-bottom: 20px;
}

h3 {
    color: #555;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



/* Time Line */
.horizontal-timeline {
  position: relative;
}

.timeline-item {
  position: relative;
  padding: 10px;
}

.timeline-mark {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #919191;
  border-radius: 50%;
}

/* Gray Line of Time Line*/
.timeline-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    width: 4px;
    background: #e2e2e2;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-content {
  /* 이벤트 내용 스타일 설정 */
}


</style>




{% if history %}
<div class="container">




    <h2>History Detail</h2>
    <div class="product-details">
        <h3>Operation ID: {{history.id}}</h3>
        <div>Product Name: {{history.product_name}}</div>
        <div>Quantity: {{history.quantity}}</div>
        <!-- <div>Created: {{history.datetime_created}}</div> -->
        <!-- <div>Due: {{history.date_due}}</div> -->
        <div>Sold: {{history.datetime_sold}}</div>
        <div>Current Location: {{history.location_current}}</div>
        <div>Process: {{history.process}}</div>
        <div>Lead_time: {{history.lead_time}}</div>
        <div>Lot: {{history.lot}}</div>
    </div>

    
    <div class="mx-5">
        <h3>Time Line</h3>
        <div class="horizontal-timeline">
            <div class="timeline-item">
                <div class="timeline-mark"></div>
                <div class="timeline-date">{{history.datetime_created}}</div>
                <div class="timeline-content">Created</div>
            </div>
            <div class="timeline-item">
                <div class="timeline-mark"></div>
                <div class="timeline-date">{{history.date_due}}</div>
                <div class="timeline-content">Due</div>
            </div>
            <!-- Add more timeline items here -->
        </div>
    </div>


    <button class="mx-5 button button-red" id="calculateButton" onclick="handleCalculateButtonClick()">Calculate</button>
    <div id="result"></div> <!-- This is where the calculated data will be displayed -->
</div>


{% include 'spinner.html' %}

<script>

    function addTimeLine(data) {
            var timeline = $(".horizontal-timeline");
            var newTimelineItem = $("<div class='timeline-item'></div>");
            var newTimelineMark = $("<div class='timeline-mark'></div>");
            var newTimelineDate = $("<div class='timeline-date'>" +  data.date + "</div>");
            var newTimelineContent = $(`<div class='timeline-content'>${data.title}</div>`);

            newTimelineItem.append(newTimelineMark);
            newTimelineItem.append(newTimelineDate);
            newTimelineItem.append(newTimelineContent);
            timeline.append(newTimelineItem)
    }



    // Define a separate function to handle the button click
    function handleCalculateButtonClick() {
        // Disable the button while loading
        $("#calculateButton").prop("disabled", true);

        showSpinner()

        // Make an AJAX request to the API
        $.ajax({
            url: "/products/api/get_time_line?history_id={{history.id}}",
            method: "GET",
            dataType: "json",
            success: function(data) {
                // Update the result div with the received data

                hideSpinner()
                // Enable the button
                $("#calculateButton").prop("disabled", false);
                
                var timeline = $(".horizontal-timeline");
                timeline.children().remove()
                $("#start-plan-calculated").html(data);
                console.log(data)
                data.forEach(element => {
                    addTimeLine(element)
                    
                });
                // addCurrentTimeItem()
            },
            error: function() {
                alert("Error fetching data from the API.");

                hideSpinner()

                // Enable the button
                $("#calculateButton").prop("disabled", false);
            }
        });
    }




</script>





{% endif %}
{% endblock %}