{% extends "layout.html" %}

{% block content %}
<style>


.product-details {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.parts-list {
    list-style: none;
    padding: 0;
}


</style>

<div class="container-detail ">
    <h2>Product Detail Page</h2>

    {% if product %}
    <div class="product-details">
        <h3>{{product.name}}</h3>
        <div>ID: {{product.id}}</div>
        <div>Location: {{product.location_produce}}</div>
        <div>Customer: {{product.customer}}</div>
        <div>Sale Price: {{product.price_sell}} Yen</div>
        <div>Production Price: {{product.price_produce}} Yen</div>
    </div>
    {% endif %}

    <h3>Parts List</h3>

    {% if parts %}
    <ul class="parts-list">
        {% for part in parts %}
        <li>・{{ part.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
