{% extends "layout.html" %}

{% block content %}
<style>
    /* CSS 스타일링을 여기에 추가하세요 */
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        color: #333;
        margin-bottom: 20px;
    }

    h3 {
        color: #555;
    }

    .product-details {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .product-details div {
        margin: 10px 0;
    }

    .parts-list {
        list-style: none;
        padding: 0;
    }

    .parts-list li {
        margin: 5px 0;
    }

</style>

<div class="container">
    <h2>Part Detail Page</h2>

    {% if part %}
    <div class="product-details">
        <h3>{{part.name}}</h3>
        <div>ID: {{part.id}}</div>
        <div>Location: {{part.location_produce}}</div>
        <div>Customer: {{part.customer}}</div>
        <div>Sale Price: {{part.price_sell}} Yen</div>
        <div>Production Price: {{part.price_produce}} Yen</div>
    </div>
    {% endif %}

</div>
{% endblock %}
