
<script>

const createChart = (elementId, operation_data, current_operation_id) => {

    // sorting
    operation_data.sort((a, b) => new Date(a.date_due) - new Date(b.date_due));

    // new canvas
    const canvas = document.createElement('canvas');
    canvas.id = elementId;


    const ctx = canvas.getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar', 
        data: {
            labels: operation_data.map(item => item.date_due), 
            datasets: [{
                label: 'Quantity',
                data: operation_data.map(item => item.quantity), 
                backgroundColor: operation_data.map(item => item.id === current_operation_id ? 'rgb(255, 99, 132)' : 'rgb(75, 192, 192)'),
            }]
        },
        options: {
            animation: {
                duration: 0, // Set duration to 0 to disable animations
            },  
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Due Date'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Quantity'
                    },
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: true,
                },
                tooltip: { // 호버 시 툴팁 설정
                    mode: 'index',
                    intersect: false,
                    callbacks: {
                        label: (tooltipItem) => {
                            const dataIndex = tooltipItem.dataIndex;
                            const id = operation_data[dataIndex].id;
                            const quantity = operation_data[dataIndex].quantity;
                            return `Id: ${id}, Quantity: ${quantity}`;
                        }
                    }
                }
            }
        }
    });


    return canvas;
}

</script>