{% extends "layout.html" %}

{% block content %}
<h1>Welcome to the Main Page</h1>
<style>
    #spinnerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    </style>
<div>
    <a href="{{ url_for('products_index_page') }}" class="button button-red mx-5">Products</a>
</div>

<div>
    <a href="{{ url_for('parts_index_page') }}" class="button button-blue button-disable  mx-5">Parts</a>
</div>

<div>
    <a id="createDemoData" href="#" class="button button-green mx-5" style="position: relative;">
        <span id="textLabel">Create Demo Data</span>
        <div id="spinnerContainer" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
<script>
var isAjaxInProgress = false; // AJAX 요청 진행 중 여부를 저장하는 변수

const sleep = (ms) => {
    return new Promise(resolve => setTimeout(resolve, ms));
}

document.getElementById("createDemoData").addEventListener("click", async () => {
    // 이미 AJAX 요청이 진행 중이면 클릭 이벤트를 무시
    if (isAjaxInProgress) {
        return;
    }

    // 버튼을 비활성화하고 텍스트를 투명하게 만들고 스핀 아이콘을 표시
    document.getElementById("createDemoData").disabled = true;
    document.getElementById("textLabel").style.opacity = "0.5";

    // Spin.js 설정
    var opts = {
        lines: 8,
        length: 28,
        width: 22,
        radius: 45,
        scale: 0.2,
        corners: 1,
        speed: 1.0,
        rotate: 0,
        animation: 'spinner-line-fade-default',
        direction: 1,
        color: '#000000',
        fadeColor: 'transparent',
        top: '51%',
        left: '50%',
        shadow: '0 0 1px transparent',
        zIndex: 2000000000,
        className: 'spinner',
        position: 'absolute',
    };

    // Spin.js로 스핀 아이콘 생성 및 시작
    var spinner = new Spinner(opts).spin(document.getElementById("spinnerContainer"));
    document.getElementById("spinnerContainer").style.display = "block";

    // AJAX 요청 진행 중임을 표시
    isAjaxInProgress = true;
    await sleep(1000); // 1초 동안 멈춤

    // AJAX 요청 보내기
    try {
        var response = await fetch("{{ url_for('api_create_demodata') }}", {
            method: "GET",
        });

        if (response.ok) {
            console.log("done");

            // AJAX 요청 완료 후 버튼을 활성화하고 텍스트를 다시 보이게 하고 스핀 아이콘을 중지하고 컨테이너를 숨김
            document.getElementById("createDemoData").disabled = false;
            document.getElementById("textLabel").style.opacity = "1";
            spinner.stop();
            document.getElementById("spinnerContainer").style.display = "none";

            // 현재 #message 요소의 텍스트 값을 가져와서 message 변수에 할당
            var message = document.getElementById('message');
            message.textContent = 'Message: Created demo data';

            // message 변수가 포함된 요소에 "highlight" 클래스 추가
            message.classList.add('message-green');
        } else {
            throw new Error("Failed to fetch data.");
        }
    } catch (error) {
        console.error(error);

        // 에러 발생 시 버튼을 활성화하고 텍스트를 다시 보이게 하고 스핀 아이콘을 중지하고 컨테이너를 숨김
        document.getElementById("createDemoData").disabled = false;
        document.getElementById("textLabel").style.opacity = "1";
        spinner.stop();
        document.getElementById("spinnerContainer").style.display = "none";

        // 에러 발생 시 AJAX 요청 진행 중 여부를 false로 설정
        isAjaxInProgress = false;
        alert("Failed to fetch data.");
    }
});
</script>

{% endblock %}